.contact{
    display: flex;
    justify-content: center;
    color:white;
    border:5px;
    border-style:solid;
    border-radius: 30px;
    width:650px;
    margin:2% auto;
    padding:20px;

}
#name{
    width:200px;
    margin-bottom: 20px;
    border-radius: 5px;
}
#sendbtn{
width:100px;
color:black;
font-size: larger;
margin:2% auto;
}